

<html class="gr__"><head>
    <title>G10ci</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&amp;display=swap" rel="stylesheet"> 
    </head>
    
    <body data-gr-c-s-loaded="true">
    <!--This is just the top bar with logo-->
    <div class="top-bar">
        <div class="logo">
            <span id="g10">G10</span>
            <span>ci</span>
        </div>
    </div>
    <!--List of builds-->
    <div class="list">
        <h1 class="header">Builds</h1>
        <table class="build-list">
            <tbody>
            <tr>
                <th>Build ID</th>
                <th># Tests</th>
                <th>Breakdown</th>
                <th>Branch</th>
                <th>Status</th>
            </tr>
            <!--Each tr with td inside should be generated in a loop-->
            #foreach($build in $builds)
            <tr> 
                <td> $build.date </td>
            </tr>
            #end
            <!--Ref to build url so that when you click, you
            get reffered to that pecific build page-->
          </tbody>
        </table>
    </div>
    </body>
</html>